html {
  height: 100%;
}

body {
  background-color: #d7e2ba;
  color: #543b08;
  margin: 0px;
  height: 100%;
}

.app-wrapper {
  height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.app-header {
  margin-top: 15px;
  background-color: #efefd5;
}

.app-title {
  text-align: center;
  font-size: 40px;
}

.practice-section-wrapper {
  display: inline-block;
  width: 300px;
}

.practice-section {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.practice-prompt {
  font-size: 50px;
  text-align: center;
}

.practice-answer {
  width: 100%;
  height: 40px;
  background: inherit;
  color: inherit;
  border: 1px solid #543b08;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  resize: none;
}

.answer-correction {
  position: absolute;
  font-size: 50px;
  font-family: sans-serif;
  color: inherit;
  top: 20px;
  right: 20px;
}

.answer-feedback {
  position: absolute;
  font-size: 30px;
  top: 83px;
  right: 20px;
}

.answer-feedback.correct {
  color: #95c705
}

.answer-feedback.wrong {
  color: #bf1313;
}
